:root {
  --clr1:
    #ff7f00;
  --clr2: #393E46;
  --clr3: #00ADB5;
  --clr4: #EEEEEE;
  --clr5: #E3FDFD;
  --clr6: #CBF1F5;
  --clr7: #EAFFD0;
  --clr8: #FCE38A;
  --clr9: #40514E;
  --clr10: #11999E;
  --clr11: #30E3CA;
  --clr12: #E4F9F5;
}